mixin modal(modifier)
  .modal#modal&attributes(attributes)
    .container
      h3 Поддержать проект
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a#card-tab.nav-link.active(data-toggle='tab', href='#card', role='tab', aria-selected='true') Банковская карта
        li.nav-item
          a#yandex-tab.nav-link(data-toggle='tab', href='#yandex', role='tab', aria-selected='false') Яндекс.деньги
        li.nav-item
          a#alpha-tab.nav-link(data-toggle='tab', href='#alpha', role='tab', aria-selected='false') Альфа-клик
        li.nav-item
          a#sber-tab.nav-link(data-toggle='tab', href='#sber', role='tab', aria-selected='false') Сбербанк Онлайн
        li.nav-item
          a#transaction-tab.nav-link(data-toggle='tab', href='#transaction', role='tab', aria-selected='false') Перевод на счет
      .tab-content
        #card.tab-pane.fade.show.active(role='tabpanel')
          +form('agreemen1', 'data1')
        #yandex.tab-pane.fade(role='tabpanel')
          +form('agreemen2', 'data2')
        #alpha.tab-pane.fade(role='tabpanel')
          +form('agreemen3', 'data3')
        #sber.tab-pane.fade(role='tabpanel')
          +form('agreemen4', 'data4')
        #transaction.tab-pane.fade(role='tabpanel')
          .pr-md-100.pb-20.border-bottom
            p.mb-10
              span.font-weight-bold Наименование: 
              span Фонд целевого капитала гимназии «Сколково»
            p.mb-10
              span.font-weight-bold ИНН: 
              span 7709471429
            p.mb-10
              span.font-weight-bold КПП: 
              span 770901001
            p.mb-10
              span.font-weight-bold БИК: 
              span 044525593
            p.mb-10
              span.font-weight-bold Наименование банка: 
              span АО «АЛЬФА-БАНК» (Москва)
            p.mb-10
              span.font-weight-bold Корр. счёт: 
              span 30101810200000000593
            p.mb-10
              span.font-weight-bold Расчётный счёт: 
              span 40703810402710000002
            p.mb-10
              span.font-weight-bold Назначение платежа: 
              span Пожертвование на ведение уставной деятельности гимназии «Сколково». Без НДС
          .d-sm-flex.align-items-center.mt-40
            a.btn.btn-primary.mb-20.mb-sm-0.mr-sm-30(href="#") Скачать реквизиты
            .custom-control.custom-checkbox.mb-0
              input#agreement5.custom-control-input(type='checkbox')
              label.custom-control-label(for='agreement5') Я принимаю 
                a(href="#", target="_blank") договор-оферту
