h1 {
  font-size: 45px;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.2!important;

  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h2 {
  font-size: 45px;
  margin-bottom: 30px;
  font-weight: 700;

  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }
  
  &:before {
    content: '';
    display: block;
    width: 100px;
    height: 10px;
    background: #bfbfbf;
    margin-bottom: 10px;
  }
  
  &.text-white {
    
    &:before {
      background: #fff;
    }
  }
  
  &.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h3 {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 30px;

  @include media-breakpoint-down(lg) {
    font-size: 22px;
  }
}

h5 {
  margin-bottom: 30px;
  font-size: 16px;
}

h6 {
  
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  
  br {

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

p {
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 15px;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
  
  &.p--sm {
    font-size: 14px;
  }
  
  a {
    
    &:focus {
      outline: none;
    }
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {
  padding-left: 20px;
  
  li {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
    list-style: square;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
    
    a {
      color: inherit;
    }
  }
}

ol {
  
  li {
    font-size: 15px;
    line-height: 1.3;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  @include transition;
  
  &:hover {
    opacity: .7;
  }
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}