.results {
  padding: 100px 0;
  border-top: 1px solid $border-color;
  
  &__content {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    padding: 40px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }
}
