mixin results(modifier)
  .results.section&attributes(attributes)
    .container
      .row  
        .col-lg-5
          h2.mb-50 Результаты
          .row
            .col-lg-10
              h5.font-weight-normal Результаты реализации проектов, с точки зрения привлекательности для инвестиций (вне зависимости от выбранного проекта):
        .col-lg-7
          .results__content
            +result('Ежегодная международная выставка и дискуссионная площадка', 'показ и обсуждение финальных проектов – результатов исследовательской и коммуникационной деятельности студентов по решению практических кейсов международных компаний, инвесторов, партнеров.')
            +result('Использование результатов комплексных исследовательских проектов по развитию организации инвесторов', 'силами студентов-старшеклассников при тьюторской поддержке экспертов из профессионального сообщества.')
            +result('Открытие именных лабораторий и аудиторий,', 'оборудованных на средства инвестора.')
            +result('Отсроченные трудовые контракты с талантливыми детьми', '')
            +result('Контент и тематические спецпроекты', 'в сфере качественного образования и гуманитарного знания.')
            +result('Инвестиции в собственный имидж социально-ориентированной компании', '')