.prize {
  text-align: center;
  color: #fff;
  width: 100%;
  min-height: 180px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  
  &--green {
    background: rgba(#4e8b74, .9);
  }
  
  &--violet {
    background: rgba(#a418dd, .9);
  }
  
  &--blue {
    background: rgba(#668ee6, .9);
  }
  
  &--red {
    background: rgba(#db1351, .9);
  }
}
