/* Bootstrap */
  
.container {

  @media screen and (min-width: 1640px) {
    max-width: 1600px;
  }
}

.btn {
  padding: 10px 20px;
  
  &:hover {
    opacity: 1;
  }
  
  &.btn-primary {
    
  }
}





.custom-checkbox, .custom-radio {
  padding-left: 30px;
  margin-bottom: 18px;

  .custom-control-input {

    &:focus {

      & ~ .custom-control-label {

        &:before, &:after {
          box-shadow: none;
        }
      }
    }

    &:checked {

      & ~ .custom-control-label {
        
        &:before {
          border: 0;
        }

        &:after {
          
        }
      }
    }
  }

  .custom-control-label {
    font-size: 12px;
    font-weight: 300;

    &:before {
      width: 18px;
      height: 18px;
      border: 1px solid $gray-400;
      border-radius: 0;
      background: transparent;
      border-radius: 5px;
      margin-top: -5px;
      left: -30px;
    }

    &:after {
      width: 18px;
      height: 18px;
      border-radius: 5px;
      margin-top: -5px;
      left: -30px;
    }
  }
    
  &--sum {
    margin-bottom: 0;
    width: 100%;
    padding-left: 0;
    text-align: center;
    line-height: 50px;
    
    .custom-control-input {
      
      &:checked {
        
        & ~ .custom-control-label {
          border-color: $primary;
          background: $primary;
          color: #fff!important;
        }
      }
    }
    
    .custom-control-label {
      border: 1px solid $border-color;
      width: 100%;
      height: 100%;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      
      &:before, &:after {
        display: none;
      }
    }
  }
}

.custom-radio {

  .custom-control-label {

    &:before {
      border-radius: 50%;
    }
  }
    
  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {
        color: $primary;
        
        &:before {
          border-color: $primary;
          background: $primary;
        }
        
        &:after {
          display: none;
        }
      }
    }
  }
}




/* nav-tabs */

.nav-tabs {
  display: flex;
  border-color: $border-color;
  
  .nav-item {
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .nav-link {
      padding: 15px 10px;
      border: 0;
      width: 100%;
      text-align: center;
      border-bottom: 3px solid transparent;
      
      &:focus {
        outline: none;
        box-shadow: none;
      }
      
      &.active {
        border-color: $primary;
      }
    }
  }
}

.tab-content {
  margin-top: 30px;
}