include ../blocks/section/section.pug
include ../blocks/front/front.pug
include ../blocks/target/target.pug
include ../blocks/result/result.pug
include ../blocks/uniqueness/uniqueness.pug
include ../blocks/advantage/advantage.pug
include ../blocks/students/students.pug
include ../blocks/prize/prize.pug
include ../blocks/project/project.pug
include ../blocks/results/results.pug
include ../blocks/contacts/contacts.pug
include ../blocks/logo/logo.pug
include ../blocks/support/support.pug
include ../blocks/projects/projects.pug
include ../blocks/participation/participation.pug
include ../blocks/socials/socials.pug
include ../blocks/documents/documents.pug
include ../blocks/modal/modal.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/quotes/quotes.pug
include ../blocks/quote/quote.pug
include ../blocks/contribution/contribution.pug
include ../blocks/menu/menu.pug
include ../blocks/docs/docs.pug
