.input {
  display: block;
  height: 50px;
  padding: 0 15px;
  border: 1px solid $border-color;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  border-radius: 3px;
  font-weight: 300;
  
  &:focus {
    outline: none;
    box-shadow: none;
  }
  
  &--sum {
    font-size: 18px;
    font-weight: 500;
    @include placeholder(#212529);
    text-align: center;
    
    &:focus {
      @include placeholder(transparent);
    }
  }
}
