mixin quotes(modifier)
  .quotes.section.section--gradient&attributes(attributes)
    .container
      .row
        .col-lg-4
          +quote('quote-1.jpg', 'Вексельберг В.Ф.', '«Образовательная модель Гимназии Сколково определяется глобальными и национальными трендами развития современного образования, ценностями и спецификой Сколково, среди которых – исследовательская и предпринимательская деятельность, современная наука и международность. Свое предназначение гимназия видит в воспитании знающих и компетентных исследователей и будущих предпринимателей, гармонично развитых людей с активной жизненной позицией».')
        .col-lg-4
          +quote('quote-2.jpg', 'Оксана Демьяненко', '«Образовательная модель Гимназии Сколково определяется глобальными и национальными трендами развития современного образования, ценностями и спецификой Сколково, среди которых – исследовательская и предпринимательская деятельность, современная наука и международность. Свое предназначение гимназия видит в воспитании знающих и компетентных исследователей и будущих предпринимателей, гармонично развитых людей с активной жизненной позицией».')
        .col-lg-4
          +quote('quote-3.jpg', 'Елена Зеленцова', '«В ближайшем будущем Гимназия Сколково должна стать не просто учебным заведением, а ключевым звеном в развитии инноваций, ведь именно здесь молодые люди раскрывают свои способности. В гимназии заложен потенциал школы будущего, которая открыта внешнему миру и живет современными научными открытиями и творческими прорывами. Это школа нового поколения, которая активно вовлекает родителей, ученых, предпринимателей».')