mixin project(number, icon, title, dscr, price, modifier)
  .project&attributes(attributes)
    .project__top
      .project__number= number
      .project__icon(style="background-image: url(./img/" + icon +")")
      h4.project__header= title
      p.project__text= dscr
    .project__investments
      .d-flex.align-items-start
        span.project__investments-currency ₽
        .project__investments-content= price
      span.project__investments-comment инвестиции