.project {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 25px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
  max-width: 350px;
  margin-bottom: 30px;
  
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__number {
    border-radius: 50%;
    background: $gray-200;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-500;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  &__icon {
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  &__header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }
  
  &__text {
    text-align: center;
    color: $gray-500;
    font-size: 14px;
  }
  
  &__investments {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  &__investments-currency {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 18px;
  }
  
  &__investments-content {
    font-size: 40px;
    font-weight: 700;
  }
  
  &__investments-comment {
    color: $gray-500;
    letter-spacing: 4px;
    font-size: 14px;
  }
}