.section {
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include media-breakpoint-down(md) {
    min-height: 0;
    padding: 100px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
  
  &--sliced {
    overflow: hidden;
    
    &:after {
      content: '';
      display: block;
      width: 102%;
      height: 200vh;
      position: absolute;
      right: -70%;
      bottom: -70%;
      transform: rotate(20deg);
      background: linear-gradient(to top, #db1351 0%, #b431cb 100%);
      opacity: .6;
    }
  }
  
  &--gradient {
  
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .9;
      background: linear-gradient(135deg, #20bda0 0%, #a418dd 100%);
    }
  }
}
