mixin uniqueness(modifier)
  .uniqueness.section.section--gradient&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-white.mb-0 Уникальность  
          h4.text-white.font-weight-normal образовательных возможностей гимназии:
          .row.mt-md-100
            .col-md-6
              +advantage('network.png', 'Среда инновационного центра «Сколково»', 'важный фактор формирования мировоззрения <br>студентов и педагогов.')
            .col-md-6
              +advantage('group.png', 'Активная позиция экосистемы по отношению к гимназии', 'участники экосистемы - Сколтех, стартапы и партнеры Сколково участвуют в создании контента и реализации образовательных программ.')