mixin contribution(modifier)
  .contribution.section.section--gradient&attributes(attributes)
    .container
      .row
        .col-sm-7
          h2.text-white Вклад в эндаумент
          h5.text-white Поддержка уставной деятельности – это высшая степень доверия партнеров к гимназии. Доход от Фонда целевого капитала идет на долгосрочное развитие направлений, которые попечительский совет и руководство гимназии выбрали приоритетами:
          ul.text-white
            li Развитие инновационных образовательных программ и учебно-методического комплекса современной новой школы;
            li Стимулирование международной мобильности студентов, интеграции в мировую образовательную и исследовательскую повестку, которая необходима будущим инноваторам. 
          a.btn.btn-primary.px-40.mt-30(href="#modal", data-fancybox) Поддержать гимназию

