.socials {
  display: flex;
  
  &__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    
    &+& {
      margin-left: 10px;
    }
    
    &--fb {
      background: url(../img/fb.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }
    
    &--ig {
      background: url(../img/ig.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
