mixin socials(modifier)
  .socials&attributes(attributes)
    a.socials__item.socials__item--fb(href="https://www.facebook.com/internationalgymnasiumskolkovo/")
    a.socials__item.socials__item--ig(href="https://www.instagram.com/gymnasium_skolkovo/")