mixin advantage(icon, title, dscr, modifier)
  .advantage&attributes(attributes)
    .advantage__icon(style="background-image: url(./img/" + icon +")")
    h5.text-white.mb-10.font-weight-bold!= title
    p.text-white!= dscr