.advantage {
  padding-right: 200px;

  @include media-breakpoint-down(lg) {
   padding-right: 0;
  }
  
  &__icon {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
  }
}
