.docs {
  
  &__back {
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 40px;
    display: flex;
    
    &:before {
      content: '';
      display: block;
      width: 40px;
      background: url(../img/arrow.svg) no-repeat left center;
      background-size: contain;
    }
    
    &:hover {
      opacity: .7;
      color: #fff;
    }
  }
  
  &__header {
    font-size: 40px;
    border-bottom: 4px solid #fff;
    display: inline-block;
  }
  
  &__item {
    
    &:after {
      content: ' →';
      display: inline;
      font-weight: 700;
    }
  }
}
