extends ../templates/template.pug
block content
  .docs.section.section--gradient
    a.docs__back(href="index.html") Назад на главную страницу
    .container
      .row
        .col-sm-6
          h3.docs__header.text-white Документы
          h5.text-white
            a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") Устав фонда целевого капитала гимназии
          h5.text-white
            a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22089/download.aspx", target="_blank") Свидетельство о госрегистрации
          h5.text-white
            a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22092/download.aspx", target="_blank") Положение о Совете ФЦК
          h5.text-white
            a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22078/download.aspx", target="_blank") Презентация ФЦК гимназии для инвесторов
          h5.text-white
            a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22095/download.aspx", target="_blank") Финансовый план на 2018-2021 гг.
          h5.text-white
            a.docs__item.text-white(href="#") Договор пожертвования на пополнение целевого капитала при публичном сборе средств
        .col-sm-6
          h3.docs__header.text-white Отчёты
          .row
            .col-sm-6
              h3.text-white.mb-10 2018
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") III квартал 2018
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") II квартал 2018
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") I квартал 2018
            .col-sm-6
              h3.text-white.mb-10 2017
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") IV квартал 2017
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") III квартал 2017
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") II квартал 2017
              h5.text-white
                a.docs__item.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx", target="_blank") I квартал 2017