extends ../templates/template.pug
block content
  +menu
  +front(id="about")
  +quotes(id="quotes")
  +contribution(id="contribution")
  +target(id="target")
  +uniqueness(id="uniqueness")
  +students(id="students")
  +projects(id="projects")
  +results(id="results")
  +contacts(id="contacts")
  +modal