mixin participation(modifier)
  .participation.section.section--gradient&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-white.text-center Условия участия:
          p.text-white.text-center Для участия жертвователю необходимо заключить договор пожертвования с фондом целевого капитала.
      .row.mt-md-60
        .col-lg-10.offset-lg-1
          .row
            .col-md-4
              p
                a.text-white(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx") Устав фонда целевого капитала гимназии →
              p
                a.text-white(href="http://sk.ru/city/gymnasium/m/documents/22089/download.aspx") Свидетельство о госрегистрации →
            .col-md-4
              p
                a.text-white(href="http://sk.ru/city/gymnasium/m/documents/22092/download.aspx") Положение о Совете ФЦК →
              p
                a.text-white(href="http://sk.ru/city/gymnasium/m/documents/22078/download.aspx") Презентация ФЦК гимназии для инвесторов →
            .col-md-4
              p
                a.text-white(href="http://sk.ru/city/gymnasium/m/documents/22095/download.aspx") Финансовый план на 2018-2021 гг. →
              p
                a.text-white(href="#") Договор пожертвования на пополнение целевого капитала при публичном сборе средств →