.logo {
  max-width: 150px;
  z-index: 1;
  
  &__picture {
    max-width: 100px;
  }
  
  &--fixed {
    position: absolute;
    right: 15px;
    top: 70px;

    @include media-breakpoint-down(sm) {
      top: 0;
      right: 0;
    }
  }
}
