mixin students(modifier)
  .students.section.pb-70.pb-lg-20&attributes(attributes)
    .container
      .row
        .col-12
          .students__header
            h2.text-white.mr-md-50 Наши <br>студенты
            .students__icon
          .row
            .col-lg-3.col-sm-6.d-flex
              +prize('Победители международного робототехнического конкурса «Евробот Junior»')(class="prize--green")
            .col-lg-3.col-sm-6.d-flex
              +prize('Лауреаты Всероссийского форума «Будущие интеллектуальные лидеры России»')(class="prize--violet")
            .col-lg-3.col-sm-6.d-flex
              +prize('Первооткрыватели четырех новых звезд в созвездии Гидры')(class="prize--blue")
            .col-lg-3.col-sm-6.d-flex
              +prize('Победители всероссийского технического конкурса «Ш.У.Стр.И.К»')(class="prize--red")