.students {
  background: url(../img/section-4.jpg) no-repeat;
  background-size: cover;
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .7;
    background: linear-gradient(135deg, #20bda0 0%, #a418dd 100%);
  }
  
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      max-width: none;
    }
  }
  
  &__icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234e8b74' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    margin-left: 300px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: url(../img/prize.svg) no-repeat center;
      background-size: 60%;
    }
  }
}
