.front {
  background: url(../img/section-1.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding-top: 120px;
  }
  
  &__content {
    position: relative;
    z-index: 1;
  }
  
  &__info {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  
  &__logo {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      left: 10px;
      top: 10px;
      position: absolute;
    }
  }
  
  &.section {
    
    &:after {
      width: 93%!important;
    }
  }
}
