mixin front(modifier)
  .front.section.section--gradient.section--sliced&attributes(attributes)
    +logo(class="front__logo")
    .container
      .row
        .col-lg-9
          .front__content
            h1.text-white Фонд целевого капитала (эндаумент) <br>гимназии «Сколково»
            .row
              .col-lg-9
                h5.text-white Основан в 2018 году. Доход от эндаумента обеспечит гимназии независимость от периодических пожертвований, оплаты за обучение и других разовых источников поддержки. Деятельность фонда прозрачна для всех, кто нас поддерживает.
                h4.text-white.mb-0 Миссия Фонда:
                h5.text-white Обеспечить устойчивое развитие инновационных образовательных программ гимназии в долгосрочной перспективе.
            .row
              .col-md-7
                p.text-white Эндаумент существует для достижения нескольких целей:
                ul.text-white.mb-50
                  li постоянное развитие образовательных программ и научно-методического комплекса гимназии;
                  li обеспечение финансовой устойчивости и независимости гимназии в долгосрочной перспективе;
                  li стимулирование международной мобильности как неотъемлемой составляющей образования на базе экосистемы «Сколково».
            .row
              .col-lg-10
                a.btn.btn-primary.px-40.mt-30(href="#modal", data-fancybox) Поддержать гимназию
        .col-lg-3.d-lg-flex.align-items-end.justify-content-end
          .front__info
            p.text-white.mt-40.mb-20 Международная гимназия Сколково
            +socials