.result {
  background: #fff;
  display: flex;
  align-items: flex-start;
  
  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/check.svg) no-repeat;
    background-size: contain;
    margin-right: 20px;
    margin-top: 2px;
    flex-shrink: 0;
  }
}
