mixin target(modifier)
  .target.section&attributes(attributes)
    .container
      .row
        .col-12
          .target__wrapper
            .row
              .col-md-6.d-flex
                .target__picture
                  img.target__picture-content(src="img/section-7.jpg", alt="Picture")
              .col-md-6.d-flex
                .target__content
                  .row
                    .col-md-11
                      h2.mb-0 Цель 
                      h4.mb-30 образования в гимназии:
                      h5.font-weight-normal.mb-20 Подготовить ребенка к самостоятельной взрослой жизни, обеспечить накопление интеллектуальных, эмоциональных, социальных и стратегических ресурсов, воспитать уверенность в себе и сформировать устойчивый интерес к продуктивной интеллектуальной и практической деятельности.