.contacts {
  position: relative;

  @include media-breakpoint-down(sm) {
    padding-top: 80px;
  }

  &__content {
    
  }
  
  &__info {
    position: relative;
    z-index: 1;
  }
  
  &.section {
    
    &:after {
      width: 111%!important;
    }
  }
}
