mixin contacts(modifier)
  .contacts.section.section--gradient.section--sliced&attributes(attributes)
    +logo(class="logo--fixed")
    .container
      .row
        .col-lg-8
          .contacts__content
            h6.mb-50.text-white По вопросам сотрудничества:
            h2.text-white.mb-50 Контакты
            h4.text-white.font-weight-bold Email: <br>
              a.text-white.font-weight-normal(href="mailto:info_endowment@sk.ru") info_endowment@sk.ru
        .col-lg-4.d-lg-flex.align-items-end.justify-content-end.mt-50.mt-lg-0
          .contacts__info
            h5.text-white.font-weight-bold.mb-10 Адрес исполнительного органа некоммерческой организации: 
            p.text-white.mb-40 143026, г. Москва, Территория инновационного центра «Сколково», ул. Зворыкина, д. 4
            //p.text-white.mt-40.mb-20 Международная гимназия Сколково
            //+socials
            p.p--sm.text-white.font-weight-bold.mb-10 Полное наименование на русском языке: <br>
              span.font-weight-normal Фонд целевого капитала Международной гимназии инновационного центра «Сколково»
            p.p--sm.text-white.font-weight-bold.mb-10 Сокращенное наименование на русском языке: <br>
              span.font-weight-normal ФЦК МГ Сколково
            p.p--sm.text-white.font-weight-bold.mb-10 Полное наименование на английском языке: <br>
              span.font-weight-normal The International Gymnasium of the Skolkovo Innovation Center Endowment Foundation
            p.p--sm.text-white.font-weight-bold.mb-10 Сокращенное наименование на английском языке: <br>
              span.font-weight-normal EF IG Skolkovo