mixin documents(modifier)
  .documents&attributes(attributes)
    a.documents__btn(href="#") Документы  →
    .documents__content
      a.documents__item(href="http://sk.ru/city/gymnasium/m/documents/22088/download.aspx") Устав фонда целевого капитала гимназии
      a.documents__item(href="http://sk.ru/city/gymnasium/m/documents/22089/download.aspx") Свидетельство о госрегистрации
      a.documents__item(href="http://sk.ru/city/gymnasium/m/documents/22092/download.aspx") Положение о Совете ФЦК
      a.documents__item(href="http://sk.ru/city/gymnasium/m/documents/22078/download.aspx") Презентация ФЦК гимназии для инвесторов
      a.documents__item(href="http://sk.ru/city/gymnasium/m/documents/22095/download.aspx") Финансовый план на 2018-2021 гг.
      a.documents__item(href="#") Договор пожертвования на пополнение целевого капитала при публичном сборе средств