.documents {
  position: relative;
  display: inline-flex;

  @include media-breakpoint-down(sm) {
    display: flex;
    width: 100%;
  }
  
  &__btn {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    @include transition;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    
    &:hover {
      opacity: .7;
      color: #fff;
    }
  }
  
  &__content {
//    display: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
    background: #fff;
    padding: 20px;
    left: 0;
    bottom: -10px;
    min-width: 400px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    @include transition;
    
    &--active {
      display: block;
      left: 100%;
      opacity: 1;
      z-index: 1;
      margin-left: 20px;

      @include media-breakpoint-down(sm) {
        bottom: 30px;
        margin-left: 0;
        left: 0;
        min-width: 0;
        max-width: 100%;
        width: 100%;
      }
    }
  }
  
  &__item {
    display: block;
    color: #000;
    @include transition;
    font-size: 15px;
    
    &+& {
      margin-top: 15px;
    }
    
    &:hover {
      opacity: .7;
      color: #000;
    }
  }
}
