mixin support(modifier)
  .support.section.section--gradient&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-white.mb-60 Поддержка проекта — это возможность:
          ul.text-white
            li
              h5.mb-0.font-weight-normal Стать партнером одного из наиболее заметных образовательных учреждений России;
            li
              h5.mb-0.font-weight-normal Приобщиться к инновациям в образовании;
            li
              h5.mb-0.font-weight-normal Поддержать самый яркий проект Сколково.
          a.btn.btn-primary.mt-40(href="#modal", data-fancybox) Поддержать проект