mixin quote(photo, name, content, modifier)
  .quote&attributes(attributes)
    .quote__photo(style="background-image: url(./img/" + photo + ");")
    .quote__content
      h3.text-white.mb-15= name
      p.text-white= content