.quote {
  
  &__photo {
    max-width: 80%;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 40px;

    @include media-breakpoint-down(lg) {
      max-width: none;
      height: 350px;
    }

    @include media-breakpoint-down(md) {
      max-width: 400px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  
  &__content {
    padding-right: 40px;
  }
}
