mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      +logo(class="menu__logo")
      a.menu__link.menu__link--anchor(href="#about") О фонде
      a.menu__link.menu__link--anchor(href="#target") Цель образования в гимназии
      a.menu__link.menu__link--anchor(href="#quotes") Цитаты
      a.menu__link.menu__link--anchor(href="#contribution") Вклад в эндаумент
      a.menu__link.menu__link--anchor(href="#uniqueness") Уникальность возможностей в гимназии
      a.menu__link.menu__link--anchor(href="#students") Наши студенты
      a.menu__link.menu__link--anchor(href="#projects") Приоритетные проекты
      a.menu__link.menu__link--anchor(href="#results") Результаты
      a.menu__link(href="docs.html") Отчёты и документы
      a.menu__link.menu__link--anchor(href="#contacts") Контакты