.menu {
  
  &__btn {
    width: 40px;
    height: 40px;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    top: 40px;
    right: 40px;
    position: fixed;
    z-index: 4;
    transition: opacity .3s ease-out;
    
    &--active {
      background-image: url(../img/close.svg);
      background-size: 80%;
      background-position: center;
    }

    @include media-breakpoint-down(sm) {
      top: 10px;
      right: 10px;
    }
  }
  
  &__content {
    position: fixed;
    top: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-90deg, #20bda0 0%, #a418dd 400%);
    z-index: 3;
    padding: 100px 40px 50px;
    right: -30%;
    opacity: 0;
    overflow: auto;
    @include transition;

    @include media-breakpoint-down(lg) {
      width: 50%;
      right: -50%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: flex-start;
      padding: 40px;
    }
    
    &--active {
      right: 0;
      opacity: 1;
    }
  }
  
  &__link {
    color: #fff;
    display: block;
    font-size: 20px;
    
    &:hover {
      opacity: .75;
      color: #fff;
    }
    
    &+& {
      margin-top: 20px;
    }
  }
  
  &__logo {
    position: absolute;
    top: 15px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
