mixin projects(modifier)
  .projects.section.pb-20&attributes(attributes)
    .container
      .row
        .col-12
          h2 Приоритетные проекты:
      .row
        .col-xl-3.col-sm-6.d-flex.justify-content-center
          +project('1', 'graphic-tool.png', 'Art & Design', 'развитие кафедры Visual Art & Design как ядра STEAM-образования', '12 млн')
        .col-xl-3.col-sm-6.d-flex.justify-content-center
          +project('2', 'television.png', 'Мультимедийный центр', 'овладение навыками создания контента и media production', '16 млн')
        .col-xl-3.col-sm-6.d-flex.justify-content-center
          +project('3', 'resume.png', 'Профессиональное развитие', 'формирование ключевых компетенций учителя будущего', '12 млн')
        .col-xl-3.col-sm-6.d-flex.justify-content-center
          +project('4', 'brain.png', 'Поддержка одаренности', 'открытие профессиональных лабораторий «Инженер будущего», «Биомедицина», «Космос»', '13 млн')