.form {
  margin: 0 auto;
  
  &__item {
    
    &--row {
      display: flex;
    }
  }
  
  &__comment {
    font-size: 12px;
    font-weight: 300;
    color: $gray-600;
    margin-top: -10px;
  }
  
  &__footer {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      
      .btn {
        margin-bottom: 20px;
      }
    }
  }
  
  &__other-sum {
    flex-grow: 2;
  }
}
