mixin form(checkId1, checkId2, modifier)
  form.form(action="https://money.yandex.ru/eshop.xml", method="POST", novalidate)&attributes(attributes)
    .form__item.form-group
      input.input.form__input.form-control(type="text", name="sum", placeholder="Сумма пожертвования", required)
      .invalid-feedback Поле не должно быть пустым
    .form__item.form-group
      input.input.form__input.form-control(type="email", placeholder="Электронный адрес", required)
      .invalid-feedback Поле не должно быть пустым
    .form__item.form-group
      input.input.form-control(type="text", placeholder="Фамилия")
    input(type="hidden", name="shopId", value="", readonly)
    input(type="hidden", name="scid", value="", readonly)
    p.form__comment.mb-30 Информация нужна для информировании о статусе перевода.
    .custom-control.custom-checkbox.mb-10
      input.custom-control-input(type='checkbox', id=checkId1, required)
      label.custom-control-label(for=checkId1) Я принимаю 
        a(href="https://www.tesla.com/sites/default/files/tesla-model-s.pdf", target="_blank") договор-оферту
        |.
    .custom-control.custom-checkbox.mb-30
      input.custom-control-input(type='checkbox', id=checkId2, required)
      label.custom-control-label(for=checkId2) Согласие на обработку 
        a(href="#", target="_blank") персональных данных
        |.
    button.btn.btn-primary(type="submit") Сделать пожертвование